.bubble {
  positoin: absolute;
}
.b1 {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -100px;
  right: 50px;
  border-radius: 50%;
  background-image: linear-gradient(
    75deg,
    rgba(180, 180, 180, 0.451),
    rgba(86, 86, 86, 0.238)
  );
  animation: bubble_animation 5s infinite ease-in-out;
}
.b2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 350px;
  right: 100px;
  background-image: linear-gradient(
    135deg,
    rgba(106, 106, 106, 0.451),
    rgba(48, 48, 48, 0.238)
  );
  border-radius: 50%;
  animation: b2_animation 3s infinite ease-in-out;
}
.b3 {
  position: absolute;
  width: 170px;
  height: 170px;
  top: 200px;
  left: 300px;
  background-image: linear-gradient(
    135deg,
    rgba(106, 106, 106, 0.451),
    rgba(48, 48, 48, 0.238)
  );
  border-radius: 50%;
  animation: b3_animation 7s infinite ease-in-out;
}
@keyframes b3_animation {
  0% {
    top: 200px;
  }
  50% {
    top: 210px;
  }
  100% {
    top: 200px;
  }
}
.b4 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 450px;
  left: 200px;
  background-image: linear-gradient(
    135deg,
    rgba(106, 106, 106, 0.451),
    rgba(48, 48, 48, 0.238)
  );
  border-radius: 50%;
  animation: b4_animation 5s infinite ease-in-out;
}
@keyframes bubble_animation {
  0% {
    top: -100px;
  }
  50% {
    top: -80px;
  }
  100% {
    top: -100px;
  }
}
@keyframes b2_animation {
  0% {
    top: 450px;
  }
  50% {
    top: 455px;
  }
  100% {
    top: 450px;
  }
}
@keyframes b4_animation {
  0% {
    top: 350px;
  }
  50% {
    top: 370px;
  }
  100% {
    top: 350px;
  }
}
@media (width<1000px) {
  .bubble {
    display: none;
  }
}
